header#main-header {
  height: 60px;
  background: rgb(113, 10, 153);
  width: 100%;
  font-size: 19px;
  font-weight: bold;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
